:root{
    --bg:#ffffff;
    --shadow:0 8px 24px rgba(0,0,0,0.08);
    --black:#282828;
    --color:#808080;
    --primary:#f16a3f ;
    --secondary:#1b2f5c;
    --grad-primary:linear-gradient(-90deg, #f1683feb 0%, #f16a3f 100%);
    --cta-bg:#EAF0F2;
    --primery-h:#181818;
}
@font-face { font-family: 'PashtoFont'; 
    src: url('fonts/majalla.ttf') format('woff'); font-weight: normal; font-style: normal; }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{

    font-family:'PashtoFont', sans-serif;
    line-height:1.5 ;
    background-color: var(--bg);

}
.container{
    width: min(1300px);
    margin-inline: auto;
}
.header{
background-color: var(--bg);
box-shadow: var(--shadow);
position: sticky;
top: 0;
z-index: 10;
}
.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 150px;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;

   
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 18px;
    font-weight: 600;
   
}
.nav-link{
    text-decoration: none;
    color:black;
}

.nav:hover, .nav:active{
    opacity: 1;
    text-decoration: underline;
    color: var(--primary);
}
.nav-button{
    gap: 1rem;
}
.login{
    color: var(--primary);
    padding: .7rem 1.5rem;
    border: 2px solid var(--primary);
    border-radius: 40px;
    text-align: center;
    background:var(--bg);
    transition: all .2s;
}
.signup{
    padding: .7rem 2rem;
    border-radius: 40px;
    background:var(--primary);
    color: var(--bg);
}

/***********  hero section  ************/
.hero-s{
    background-color: var(--cta-bg);
    padding: 4.8rem 0 7rem 0;
    border-radius: 8px;
}
.hero{
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 6.5rem;
    gap: 4rem;
}
.primary-h{
    color: var(--primery-h);
    line-height: 1;
    margin-bottom: 3rem;
    font-size: 60px;
    font-weight: 600;
}
#testPartner{
    color: var(--primary);
   
}
.hero-desription{
    margin-bottom: 2rem;
    font-size: 22px;
}
.access-student{
    padding: 1.5rem 5rem;
    background-color: var(--secondary);
    
}
.access{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.p2{
    color: #ffffff;
}
.head2{
    color: var(--primary);
    font-weight: 600;
}
.access-in{
    padding: .7rem 2.5rem;
    outline: none;
    border-radius: 9px;
    border: none;
    margin-left: 1rem;
    font-size: 18px;
}
.sub-btn{
    padding: .7rem 1rem;
    border-radius: 9px;
    background-color: var(--primary);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    
}
/*     support compeny********/
.support-c{
    padding: 1.5rem 0;
    background-color:#fbfbfb;
    box-shadow: var(--shadow);
}
.support{
    width: 100%;
    text-align:right;
    margin-top: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    
}
.head3{
    color: var(--secondary);
    font-size: 48px;
    font-weight: 700;
}
.s-text{
text-align: center;

}
.s-description{
    font-size: 24px;
    color: rgb(104, 103, 103);
    line-height: 1;
    margin: 1rem 0 3rem 0;
}
.support{
    width: 100%;
    text-align:right;
    margin-top: 2.5rem;
    overflow: hidden;
    
}
.S-pics{
    display:flex;
    align-items: center;
    width: max-content;
    animation: scroll-s 70s linear infinite;
}
.S-pics:hover {
    animation-play-state: paused;
  }

.slider{
    width: 100%;
}
.S-pics img{
    margin: 0 30px;
    height: 60px;
}
@keyframes scroll-s{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform:translateX(0)
    }
}
/****************   features    *********/
.grids{
        display: grid;
        column-gap: 4rem;
       
    }
    .grid-colums{
        grid-template-columns: repeat(2,1fr);
    }

.Features{
    padding: 6rem 0 0 0;
    
}
.f-title{
    text-align:center ;
    margin-bottom: 2rem;
}
.step-number{
font-size: 9.8rem;
font-weight: 600;
color: #ddd;

}

.step-img-box{
   display: flex;
   align-items: center;
   justify-content: center;

}
.step-img{
 width: 70%;
    border-radius: 6px;
}

.step-discription{
    font-size: 2rem;
    line-height: 1.8;
}
.sub-h{
    color: var(--primary);
    font-size: 25px;
    font-weight: 900;
  
}
.F-title{
text-align: center;
}
.head2{
font-size: 52px;
color: var(--secondary);
font-weight: 900;
}
/**************about section**************/
.about-c{
 background-color:var(--bg);
 padding: 1rem 2rem;
}
.about{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.cards{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column; 
    width: 50%;
}
.card img{
    width: 80px;
}
.card{
padding: 2rem;
display: flex;
gap: 2rem;
margin-bottom: 1.7rem;
box-shadow: var(--shadow);
border-radius: 22px;
}
.card-h3{
    font-size: 26px;
}
.card-p{
    font-size: 18px;
}
.card-right{
    margin-right: 3rem;
}
.card-left{
    margin-left: 3rem;
}
.about-text{
    padding: 1.5rem 5rem 1.5rem 0;
    width: 50%;
}
.about-p1{
    font-size: 26px ;
    color:rgb(104, 103, 103) ;
    letter-spacing: 1.2;
    margin-bottom: .7rem;
}
.about-h2{
    font-weight: 900;
    font-size: 52px;
    color: var(--secondary);
    margin-bottom: .7rem;
    line-height: 1;
}
.about-p2{
    color: rgb(104, 103, 103);
    font-size:24px ;
    font-weight: 500;
    margin-bottom: 1rem;
}
.about-list{
    list-style-type: none;
    padding-left: 0;
    font-size: 24px;
}
.about-list li::before{
    content: "\2714";
    color:#f8b81f ;
}

.about-list li{
    margin-bottom: .7rem;
}
/************ exam card *************/
 .grid-colum-4{
        grid-template-columns: repeat(4,1fr);
    }
.Exam{

    padding: 6rem 0 9rem 0;
}
.exam-n{
    font-size: 1.5rem;
     font-weight: 600;
     color: #333;;
 margin-bottom: 3.2rem;
 }
 .secondry-h{
margin-bottom: 2rem;
font-weight: 700;
font-size: 42px;
color: var(--secondary);
 }
 .Details{
list-style: none;
display: flex;
flex-direction: column;
gap: 2rem;
   padding-left: 1rem;
}
.lists{
    font-size: 1.8rem;
}
.lists a{
    
    color: #333;
}
.lists a:hover{
    text-decoration:underline;
    color: #4ca0ee;
}
.our-exam{
    width: 100%;
}

strong{
    font-weight: 600;
}
.tag{
    display: inline-block;
    text-transform:uppercase;
    background-color:var(--primary);
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;
    color: var(--bg);
    border-radius: 100px;
    font-weight: 600;
}
.class{
    padding: 0 0 1rem 0;
    border-radius: 12px;
box-shadow: var(--shadow);
overflow: hidden;
transition: all 0.3s;
}
.class:hover{
    transform: translateY(-1.2rem);
    box-shadow: var(--shadow);
}
.class2{
    padding:2rem;
}
.tag-m{
    margin-bottom: 2rem;
}
/**********footer***************/
footer{
padding: 8rem 0 0 0;
background-color:var(--cta-bg);
}

.grid{
        display: grid;
        column-gap: 6.4rem;
        row-gap: 9.6rem;
       
    }
.footer-grid{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;

}
.footer{
    text-align: center;
    margin-top: 2rem;
    background-color: var(--secondary);
    padding: 1.5rem;
}
logo-col{
    display: flex;
   flex-direction: column;
}
.logo-text{
    font-size: 18px;
    margin-bottom: 1rem;
    color: var(--secondary);
    font-weight: 600;
}
.flogo-link{
    display: block;
    margin-bottom: 1rem;

}
.social-link{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.icons{
    height: 2.4rem;
    width: 2.4rem;
}
.contacts{
font-size:1.5rem;
font-style: normal;
line-height: 1.6;
}
.footer-heading{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 3rem;
}
.contacts p:first-child{
    margin-bottom: 1.7rem;
   color: var(--black);
}
.footer-links{
    text-decoration: none;
    color:var(--black);
}
.footer-nav{
    list-style: none;
    font-size:1.5rem;
font-style: normal;
line-height: 1.6;
}
.footer-links:hover,
.footer-links:active{
    color: #555;
}
.copyright{
    font-size:24px;
   color: var(--bg);
}













